<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../js/LoginFunctions.js"></script>
  <script src="../js/SignUpFunctions.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/HomePage.css">
  <link rel="stylesheet" type="text/css" href="../css/global.css">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="972346842302-4jd0s8rnej6q6nl9hh560eqeselmii1i.apps.googleusercontent.com">


</head>
<body>
 <div id ="loginContainer" >
   <h2>Welcome!</h2>
   <div id="third-party-login">
     <div class="g-signin2" data-onsuccess="onSignIn"></div>
   <div id="login-placeholder"></div>
   <script>
     $(function(){
       $("#login-placeholder").load("LoginForm.html");
     });
   </script>
   <div id="singUp-placeholder"> </div>
     <button onclick="displayBlock('SignUpBlock')" id="signUp" class="accessButton" >create an account</button>
   </div>


   <script>
     $(function(){
       $("#singUp-placeholder").load("SingUpForm.html");
     });
     $(document).ready(function() {
       // Get the current date in the format "YYYY-MM-DD"
       let currentDate = new Date().toISOString().split("T")[0];

       // Set the max attribute for the date input
       $("#birthday").attr("max", currentDate);});

   </script>

 </div>

</body>
</html>
