<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Homepage</title>
  <script src="../js/UserHomePageFunctions.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/global.css">
  <link rel="stylesheet" type="text/css" href="../css/UserHomePage.css">


</head>
<body>
<header>
  <h1>Welcome back!</h1>
</header>

<div class="user-container">

  <div class="surveys-container">
    <h2>Your Surveys</h2>
    <div class="cart" id="cart">

      <div class="survey-item">
        <div class="survey-details">

          <h3 class="title">Survey 1</h3>

          <div class="survey-description">
            <span>This is the description of Survey 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              This is the description of Survey 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. This is the description of Survey 1.
            </span>
          </div>
        </div>
        <div class="actions">
          <button class="button">Edit</button>
          <button class="cancelButton">Remove</button>
        </div>

      </div>
      <div class="survey-item">
        <div class="survey-details">

          <h3 class="title">Survey 2</h3>

          <div class="survey-description">
            <span>This is the description of Survey 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              This is the description of Survey 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. This is the description of Survey 1.
            </span>
          </div>
        </div>
        <div class="actions">
          <button class="button">Edit</button>
          <button class="cancelButton">Remove</button>
        </div>

      </div>
      <!-- Add more survey items as needed -->
    </div>
  </div>

</div>

</body>
</html>
